@import "../variables/_colors.scss";

.Favorite {
    color: $main;
    line-height: 1.8rem;
    margin-bottom: 80px;
    &__item {
        background-color: lighten($color: $accent, $amount: 25);
        font-family: 'M PLUS 1p', cursive;
        &__category {
            font-weight: bold;
        }
    }
}