@import "../variables/_colors.scss";

.footer {
    margin: 0;
    background-color: $main;
    color: $white;
    height: 30vh;
    padding: 40px 80px;
    display: flex;
    &__info {
        font-family: 'M PLUS 1p', cursive;
        margin-right: 160px;
        &__name {
            font-size: 2rem;
            font-weight: bold;
        }
        &__belongs {
            a {
                text-decoration: none;
                color: $accent;
                padding-right: 16px;
            }
        }
    }
    &__account {
        &__list {
            list-style: none;
            margin-left: -1px;
            li {
                font-size: 1.2rem;
                padding-left: 0;
            }
            i {
                font-size: 2rem;
                padding-right: 24px;
            }
            a {
                text-decoration: none;
                color: $white;
                &:hover {
                    color: $accent;
                    transition: 0.7s;
                }
            }
        }
    }
}

@media screen and (max-width: 1024px) {
    .footer {
        padding: 48px 24px;
        flex-direction: column;
        height: auto;
        &__info {
            margin: 0;
            padding-bottom: 40px;
        }
        &__account {
            &__list {
                li {
                    line-height: 3rem;
                }
            }
        }
    }
}