@import "../variables/_colors.scss";

.WorkItem {
    color: $main;
    display: inline-block;
    font-family: 'M PLUS 1p', cursive;
    text-decoration: none;
    margin-bottom: 40px;
    &__title {
        background-color: $main;
        color: $white;
        font-weight: bold;
        font-size: 1.5rem;
        line-height: 3rem;
        padding-left: 8px;
        margin-bottom: 8px;
    }
    &__image {
        margin-bottom: 16px;
    }
    &__text {
        line-height: 1.8rem;       
    }
}