@import "../variables/_colors.scss";

.WorkItem {
    width: 100%;
    color: $main;
    display: inline-block;
    font-family: 'M PLUS 1p', cursive;
    text-decoration: none;
    margin-bottom: 40px;
    &__title {
        background-color: $main;
        color: $white;
        font-weight: bold;
        font-size: 1.5rem;
        line-height: 3rem;
        padding-left: 8px;
        margin-bottom: 8px;
    }
    &__image {
        display: block;
        width: 100%;
        margin-bottom: 16px;
        &:hover {
            opacity: 0.7;
            transition: 0.5s;
        }
    }
    &__text {
        line-height: 1.8rem;       
    }
    &__link {
        padding: 8px 0;
        color: $accent;
    }
}